{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}IVR Recording{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ivr/style.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IVR Screening</a>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <footer>
    Made with <i class="fa fa-heart"></i> by your pals
    <a href="http://www.twilio.com">@twilio</a>
  </footer>
</body>

</html>